<nav class="navbar  navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Manager Dashboard</a>   
        <ul class="navbar-nav ml-auto" style="float: right;"> 
            <li class="btn btn-primary nav-item text-white" role="button">
                <a class="nav-link text-white" (click)="logout()">
                    <!-- <fa-icon [icon]="faLogout" class="fa-1x"></fa-icon>  -->
                    Logout</a>
            </li>
        </ul>       
    </div>
</nav>